<div class="footer">
	<p>Security Researcher &Dagger; Privacy Advocate &Dagger; Open-Source Enthusiast&#x204F;</p>
	<p><a target="_BLANK" href="https://twitter.com/{{ .Site.Params.twitter }}"><i class="fa fa-twitter"></i></a>
	<a target="_BLANK" href="https://www.linkedin.com/in/{{ .Site.Params.linkedin }}"><i class="fa fa-linkedin"></i></a>
    <a target="_BLANK" href="https://github.com/{{ .Site.Params.github }}"><i class="fa fa-github"></i></a>
    <a target="_BLANK" href="https://gitlab.com/{{ .Site.Params.gitlab }}"><i class="fa fa-gitlab"></i></a></p>
</div>
</div>
</body>
</html>